%% -*- erlang -*-
[{metrics_exporter,
  [{format, prometheus_format},
   {histogram_acc_interval_sec, 10},
   {histogram_slide_interval_sec, 60}
  ]},

 {lager,
  [{log_root, "/var/log/metrics_exporter"},
   {crash_log, "metrics-collector-crash.log"},
   {handlers, [{lager_console_backend, info}]}
  ]}
].
